
form
{
  padding-top : 50px;
} 
.login h3
{
background-color: rgb(122, 227, 235);
color:cornsilk;
padding :50px;
font-size:500% ;
}
.login p 
{
  color:blue;
  font-size:150% ;
}
.field
{
  padding : 15px;
}
.field 
{
  margin-left : 425px ;
  text-align: left;
}
.field button 
{
  margin-left: 165px;
}
#email
{
  margin-left : 40px;
}
#pwd
{
  margin-left : 145px;
}
.login button
{
  color:white;
  font-weight: bold;
}










.app
{
  background-image: url("./images/backgroundimage.jpg");
  background-size: cover;
  height:649px;
  }
.app h1
{
  text-align: center;
  color:rgb(250, 217, 30);
  font-size: 60px;
  text-shadow: 3px 2px 1px;
 }
.home label
{
  padding:25px;
  color: rgb(34, 160, 233);
  font-size: 15px;
  font-weight: bolder;
}
.home button
{
  width: 55%;
  margin-left: 55px;
}
.home Select 
{
  color:rgb(34, 160, 233);
   font-size: 13px;
  font-weight: bold;
}
.home Select option
{
  /* color:rgb(34, 160, 233); */
  font-weight: bold;
}



